name: CI/CD Pipeline

on: [push, pull_request, workflow_dispatch]

jobs:
  ci:
    name: Continuous Integration
    runs-on: ubuntu-latest
    outputs:
      latest_version: ${{ steps.tag_generator.outputs.new_version }}
    steps:
      - name: Data gatherer
        id: data_gatherer
        shell: pwsh
        run: |
          # Get default branch
          $repo = "${{ github.repository }}"
          $defaultBranch = Invoke-RestMethod -Method GET -Uri https://api.github.com/repos/$repo | Select-Object -ExpandProperty default_branch
          Write-Output "::set-output name=default_branch::$(echo $defaultBranch)"
      - name: Conditionals handler
        id: conditionals_handler
        shell: pwsh
        run: |
          $defaultBranch = "${{ steps.data_gatherer.outputs.default_branch }}"
          $githubRef = "${{ github.ref }}"
          $githubEventName = "${{ github.event_name }}"
          $isDefaultBranch = 'false'
          $isPush = 'false'
          $isPushToDefaultBranch = 'false'
          if ( $githubRef -like "*$defaultBranch*" ) {
            $isDefaultBranch = 'true'
          }
          if ( $githubEventName -eq 'push' ) {
            $isPush = 'true'
          }
          if ( $githubRef -like "*$defaultBranch*" -and $githubEventName -eq 'push' ) {
            $isPushToDefaultBranch = 'true'
          }
          Write-Output "::set-output name=is_default_branch::$(echo $isDefaultBranch)"
          Write-Output "::set-output name=is_push::$(echo $isPush)"
          Write-Output "::set-output name=is_push_to_default_branch::$(echo $isPushToDefaultBranch)"

      - name: Setup .NET Core
        id: setup_dotnet_core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.201

      - name: Checkout repository
        id: checkout_repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - if: steps.conditionals_handler.outputs.is_push_to_default_branch == 'true' 
        name: Bump GH tag
        id: tag_generator
        uses: mathieudutour/github-tag-action@v5.4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          default_bump: false
          release_branches: ${{ steps.data_gatherer.outputs.default_branch }}

  cd:
    if: needs.ci.outputs.latest_version != ''
    name: Continuous Deployment
    needs: ci
    runs-on: ubuntu-latest
    steps:

      - name: Setup dotnet
        id: setup_dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 5.0.201

      - name: Checkout repository
        id: checkout_repo
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup NuGet
        uses: nuget/setup-nuget@v1
        id: setup_nuget
        with:
          nuget-version: '5.x'

      - name: Create NuGet Package
        id: create_nuget_package
        shell: pwsh
        run: |
          $gitNewVersion = if ("${{ needs.ci.outputs.latest_version }}") {"${{ needs.ci.outputs.latest_version }}"} else {$null}
          $projectCurrentVersion = ([xml](Get-Content .\CleanArchitecture.nuspec)).package.metadata.version
          $projectNewVersion = $gitNewVersion ?? $projectCurrentVersion
          nuget pack CleanArchitecture.nuspec -OutputDirectory Artifacts -Version $projectNewVersion

      - name: Publish to NuGet
        id: publish_to_nuget
        shell: pwsh
        run: |
          nuget push Ardalis.CleanArchitecture.Template.*.nupkg`
          -source https://api.nuget.org/v3/index.json 
          nuget setApiKey  ${{secrets.NUGET_API_KEY}}

      # - name: Publish to NuGet
      #   id: publish_to_nuget
      #   uses: tanaka-takayoshi/nuget-publish-to-github-packages-action@v2.1
      #   with:
      #     nupkg-path:  './artifacts/*.nupkg'
      #     repo-owner:  'tanaka-takayoshi'
      #     gh-user:  'tanaka-takayoshi'
      #     token:  ${{ secrets.GITHUB_TOKEN }}
